<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>安居乐业管理系统</title>
<link href="/static/css/style.css" rel="stylesheet" type="text/css"> 
<script type="text/javascript" src="/static/js/jquery-1.8.0.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.base64.js"></script>
<script type="text/javascript" src="/static/js/sprintf.js"></script>
<script type="text/javascript" src="/static/js/jspdf.js"></script>
<script type="text/javascript" src="/static/js/base64.js"></script>
<script type="text/javascript" src="/static/js/tableExport.js"></script>
<script type="text/javascript" src="/static/js/anjuiframe.js"></script>
<script type="text/javascript" src="/static/js/ajly.js"></script>
</head>
<body>
    <div class="title">安居乐业管理系统</div>
     <div class="nav"> 
     <ul>
       <li><a href="/iframe/">客户管理</a></li>
       <li><a href="/employeeleft/">员工管理</a></li>
       <li><a href="/saleleft/">销售管理</a></li>
       <li><a href="/financeleft/">财务管理</a></li>
       <li><a href="/biddingleft/">竞价管理</a></li>
       <li><a href="/systemleft/">系统管理</a></li>
     </ul>
   </div>

当前用户<a>{{current_user}} </a>

<a href="/logout/">退出</a>

{% block body %}{% end %}
</body>

</html>

