
<div id="biddinginfo">
   <div class="cusinfoleft">
     <span class="rightline" onclick=delbid_data()>删除</span>
     <span class="rightline" onclick=openbid()>增加</span>
     <span onclick=openbidalter()>修改</span>
   </div>
   <div class="cusinforight">
     <span class="rightline" onclick=export_excel()>导出Excel</span>
     <span>导入Excel</span>
   </div>
</div>
<div id="biddingframe">
  <h1>竞价资料</h1>
     <div class="cusform">
        <table align="center" cellspacing="0" cellpadding="0" id="table">
          <tr>
            <td>区域</td>
            <td><select style='width:200px;' id='b_area_main'>
              <option selected value="请选择">请选择</option>
              {%for i in team_area()%}
                <option value="{{i}}"/>{{i}}</option>
              {%end%}</td>
            <td>各区域消费情况</td>
            <td><input type="text" id='b_area_cons'></td>
            <td>日期时间</td>
            <td><input type="date" value=new Date() id='b_bid_elec'></td>
            <td style="background:transparent;"><button type="button" value="查询" id='b_button'>查询</button></td>
          </tr>
       </table>
     </div>

<table id="tab_bid_form" align="center">
<thead>
<tr>
   <td style="background:#00144c;">
      <span onclick='bid_all()' style='padding:5px 10px;cursor:pointer;'>全选</span>
      <span onclick='bid_noall()' style='padding:5px 10px;cursor:pointer;'>全不选</span>
   </td>
   <td style="background:#00144c;">区域</td>
   <td style="background:#00144c;">各区域消费情况</td>
   <td style="background:#00144c;">日期时间</td>
</tr>
</thead>
<tbody style="background:#00144c;">
{%for i in shuju%}
<tr class="cus_tab" id="get_b_bid">
<td>
<input type="checkbox" data-id="{{i.id}}" >
</td>
<td>  {{i.area_main}} </td>
<td>  {{i.area_cons}} </td>
<td>  {{timestamp_datetime(i.bid_elec)}} </td>
</tr>
{%end%}
</tbody>
</table>
<ul class="fy" id="number">
    {% raw yem %}
</ul>

</div>

<style>
   #number{list-style-type:none;float:right;margin-right:10%;}
   #number li{float:left;margin-left:10px;border:1px #000 solid;width:50px;height:25px;line-height: 25px;}
   #number li a{text-decoration: none;}
</style>

<script>
$("#b_button").click(function(){
  var b_area_main=$("#b_area_main  option:selected").val();
  var b_area_cons=$("#b_area_cons").val();
  var b_bid_elec =$('#b_bid_elec').val();

  var data= {};
  data.b_area_main = b_area_main;
  data.b_area_cons = b_area_cons;
  data.b_bid_elec = b_bid_elec;
  if (b_area_main || b_area_cons || b_bid_elec){
        $.get("/biddingleft/", data,
        function(data) {
           location.href = '/biddingleft/?' + '&b_area_main=' + b_area_main + '&b_area_cons=' + b_area_cons +'&b_bid_elec=' + b_bid_elec ;
    

        })
  }else{alert("请输入查询条件!!");}

});

</script>
