<style>
/*框架右侧——customer_a.html  start*/

 #customerform {width:800px;height:800px;text-align:center;position:relative;left:50%;margin-left:-400px;}

 #customerform form{width:800px;height:550px;background:#e2ecf5;}

 #customerform table{text-align:center;width:750px;height:30px;margin:25px;}

 #customerform .tableone{text-align:center;width:375px;height:30px;margin:25px;}

 #customerform table tr td{border:#a0a0a0 solid 1px;height:30px;background:#fff;border-spacing: 10px;}

 #customerform table tr td:nth-child(odd){width:170px;}

 #customerform table tr td:nth-child(even){width:200px;}

 #customerform table tr td input[type="text"]{width:200px;height:30px;}

 #customerform table tr td select{width:203px;height:30px;}

 #customerform form button,#customerform form input[type="button"]{width:60px;color:#fff;height:30px;margin-top:30px;font-size:18px;font-family: 黑体}

 #customerform form textarea{width:360px;height:295px;}

/*框架右侧——customer_a.html  end*/

</style>
<div id="customerform">
  <img src="/static/img/customer.png">
  <form>
    <table id="talbe">
      <table cellpadding="0" cellspacing="0" class="table01">
        <tr>
          <td>客户姓名</td>
          <td>
            <input type="text" id="c_name" /></td>
          <td>客户电话</td>
          <td>
            <input type="text" id="client_tel"/></td>
        </tr>
      </table>
      <table cellpadding="0" cellspacing="0" class="table01">
        <tr>
          <td>发给销售人员</td>
          <td colspan="3">
            <input type="text" style="width:575px;height:30px;" id="is_send"></tr>
      </table>
      <table cellpadding="0" cellspacing="0" style="width:375px;">
        <tr>
          <td>是否有效</td>
          <td>
            <select id="is_valid">
              <option selected value="请选择">请选择</option>
              <option value="0">有效</option>
              <option value="1">无效</option>
	     </select>
      </table>
      <table cellpadding="0" cellspacing="0" style="width:375px;">
        <tr>
          <td>关键词</td>
          <td>
            <input type="text" id="key_words" /></td>
        </tr>
      </table>
      <table cellpadding="0" cellspacing="0" style="width:375px;">
        <tr>
          <td>电话来源</td>
          <td>
            <select id="tel_where">
              <option selected value="请选择">请选择</option>
              <option value="进线01">进线01</option>
              <option value="进线02">进线02</option>
              <option value="套电01">套电01</option>
              <option value="套电02">套电02</option></select>
          </td>
        </tr>
      </table>
      <table cellpadding="0" cellspacing="0" style="width:375px;">
        <tr>
          <td>电话属区域</td>
          <td>
            <select id="tl_area">
              <option selected value="请选择">请选择</option>
              <option value="唐山">唐山</option>
              <option value="秦皇岛">秦皇岛</option>
              <option value="葫芦岛">葫芦岛</option>
              <option value="廊坊">廊坊</option></select>
          </td>
        </tr>
      </table>
      <table cellpadding="0" cellspacing="0" style="width:375px;">
        <tr>
          <td>约访</td>
          <td>
            <input type="text" id="invite"/></td>
        </tr>
      </table>
      <table cellpadding="0" cellspacing="0" style="width:375px;">
        <tr>
          <td>认购</td>
          <td>
            <input type="text" id="subscribe"/></td>
        </tr>
      </table>
      <table cellpadding="0" cellspacing="0" style="width:360px;height:335px;float:right;margin-top:-360px;margin-left:15px;">
        <tr>
          <td>备注</td></tr>
        <tr>
          <td rowspan="3" style="border:0;" >
            <textarea id="remark_text"></textarea>
          </td>
        </tr>
        <tr></tr>
        <tr></tr>
      </table>
    </table>
    <button type="reset" value="重置" style="background:url(/static/img/closebtn.png);">重置</button>
    <button type="button" value="保存" style="background:url(/static/img/closebtn.png);"   id="wenyuan_save">保存</button>
    <a href="javascript:window.opener=null;window.open('','_self');window.close();"><input type="button" name="close" value="关闭" style="background:url(/static/img/closebtn.png);" /></a></form>
</div>




<script type="text/javascript" src="/static/js/jquery-1.8.0.min.js"></script>
<script>

    $("#wenyuan_save").click(function() {
        /////文员添加
        var save_time = (Date.parse(new Date())) / 1000;
        var client_tel = $('#client_tel').val();
        var client_name = $('#c_name').val();;
        var is_send = $('#is_send').val();
        var is_valid = $('#is_valid').val();
        var key_words = $('#key_words').val();
        var tel_where = $('#tel_where option:selected').val();
        var tl_area = $('#tl_area option:selected').val();
        var invite = $('#invite').val();
        var subscribe = $('#subscribe').val();
        var remark_text = $('#remark_text').val();

        var wenyuan_obj = {};

        wenyuan_obj.save_time = save_time;
        wenyuan_obj.client_tel = client_tel;
        wenyuan_obj.client_name = client_name;
        wenyuan_obj.is_send = is_send;
        wenyuan_obj.is_valid = is_valid;
        wenyuan_obj.key_words = key_words;
        wenyuan_obj.tel_where = tel_where;
        wenyuan_obj.tl_area = tl_area;
        wenyuan_obj.invite = invite;
        wenyuan_obj.subscribe = subscribe;
        wenyuan_obj.remark_text = remark_text;

        var error_msg = "客户电话  和 发给销售人员   两项为必填项目!!!"  ;
        (client_tel == "" && is_send == "") ? alert(error_msg) : (
        $.post("/api/wenyuan/add/", wenyuan_obj,
        function(data) {
            alert(data);

        })
        )
        });
</script>


