
<div id="customerinfo">
   <div class="cusinfoleft">
     <span class="rightline" onclick=delete_data()>删除</span>
     <span class="rightline" onclick=openwin()>增加</span>
     <span onclick=openalter()>修改</span>
   </div>
   <div class="cusinforight">
     <span class="rightline" onclick=export_excel()>导出Excel</span>
     <span>导入Excel</span>
   </div>
</div>
<div id="customerframe">
   <h1>客户资料</h1>
   <div class="cusform">
      <table align="center" cellspacing="0" cellpadding="0">
         <tr>
            <td>客户姓名</td>
            <td><input type="text"></td>
            <td>客户电话</td>
            <td><input type="text"></td>
            <td>电话来源</td>
            <td>
                <select>
                    <option selected value="请选择">请选择</option>
                    <option value="进线01">进线01</option>
                    <option value="进线02">进线02</option>
                    <option value="套电01">套电01</option>
                    <option value="套电02">套电02</option>
                </select>
            </td>
            <td>电话所属区域</td>
            <td>
               <select>
                    <option selected value="请选择">请选择</option>
                    <option value="唐山">唐山</option>
                    <option value="秦皇岛">秦皇岛</option>
                    <option value="葫芦岛">葫芦岛</option>
                    <option value="廊坊">廊坊</option>
                </select>
            </td>
            <td style="background:transparent;"><button type="button" value="查询">查询</button></td>
         </tr>
      </table>
   </div>

<table id="tab_form" align="center">
<thead>
<tr>
   <td style="background:#00144c;"></td>
   <td style="background:#00144c;">客户姓名</td>
   <td style="background:#00144c;">客户电话</td>
   <td style="background:#00144c;">是否有效</td>
   <td style="background:#00144c;">发给销售人员</td>
   <td style="background:#00144c;">电话属区域</td>
</tr>
</thead>
<tbody style="background:#00144c;">
{%for i in shuju%}
<tr class="cus_tab" id="get_id">
<td>
<input type="checkbox" data-id="{{i.id}}" >
</td>
<td>  {{i.client_tel}} </td>
<td>  {{i.client_name}} </td>
<td>  {{i.is_send}} </td>
<td>  {{i.is_valid}} </td>
<td>  {{i.key_words}} </td>
</tr>
{%end%}
</tbody>
</table>
<ul class="fy" id="number">
    {% raw yem %}
</ul>

</div>

<style>
   #number{list-style-type:none;float:right;margin-right:10%;}
   #number li{float:left;margin-left:10px;border:1px #000 solid;width:50px;height:25px;line-height: 25px;}
   #number li a{text-decoration: none;}
</style>

