<style>
 #customerform01 {width:800px;height:500px;text-align:center;position:relative;left:50%;margin-left:-400px;}

 #customerform01 form{width:800px;height:350px;background:#e2ecf5;}

 #customerform01 table{text-align:center;width:750px;height:30px;margin:25px;}

 #customerform01 .tableone{text-align:center;width:375px;height:30px;margin:25px;}

 #customerform01 table tr td{border:#a0a0a0 solid 1px;height:30px;background:#fff;border-spacing: 10px;}

 #customerform01 table tr td{width:170px;}

 #customerform01 table tr td input[type="text"]{width:170px;height:30px;}

 #customerform01 table tr td select{width:170px;height:30px;}

 #customerform01 form button,#customerform01 form input[type="button"],#customerform form input[type="button"]{width:60px;color:#fff;height:30px;margin-top:30px;font-size:18px;font-family: 黑体}
 #getcheck ul{list-style-type:none;}
 #getcheck ul li >ul{margin-left:20px;text-align:center;width:80px;}
 #getcheck ul li >ul li{width:80px;height:30px;margin-top:5px;text-align:center;line-height:30px;background:#fff;}
</style>
<div id="customerform01">
  <img src="/static/img/customer.png">
  <form>
    <table id="talbe" width="600">
      <table cellpadding="0" cellspacing="0" class="table01">
        <tr>
          <td style="width:150px;">
            <select id="getselect02">
               <option>请选择</option>
               <option value="client_name">客户姓名</option>
               <option value="client_tel">客户电话</option>
               <option value="is_send">发给销售人员</option>
               <option value="is_valid">是否有效</option>
               <option value="key_words">关键词</option>
		<option value="tel_where">电话来源</option>
               <option value="tl_area">电话属区域</option>
		<option value="invite">约访</option>
		<option value="subscribe">认购</option>
		<option value="remark_text">备注</option>
            </select>
          <td style="width:300px;display:none;" id="getcheck">
              <select id="getcheck01" disabled="true">
                <option>请选择</option>
                <option>文本框</option>
                <option>文本框</option>
                <option>文本框</option>
                <option>下拉列表框</option>
                <option>文本框</option><option>下拉列表框</option>
                <option>下拉列表框</option><option>文本框</option>
                <option>文本框</option><option>文本框</option>
             </select>
          </td>
          <td id="getselect">
             <span> <input type="text" /></span>
             <span style="display:none;"> <input type="text"/></span>
             <span style="display:none;"> <input type="text"/></span>
             <span style="display:none;" data-support='cus_select'> <select>
                 <option>是否有效</option>
                 <option>有效</option>
                 <option>无效</option>
             </select></span>
             <span style="display:none;"> <input type="text"/></span>
             <span style="display:none;" data-support='cus_select'> <select>
                 <option>电话来源</option>
                 <option>进线01</option>
                 <option>进线02</option>
                 <option>套电01</option>
                 <option>套电02</option>
             </select></span>
             <span style="display:none;" data-support='cus_select'> <select>
                 <option>请选择所属区域</option>
                 {%for i in team_area()%}
                  <option value="{{i}}"/>{{i}}</option>
                 {%end%}
             </select></span>
             <span style="display:none;"> <input type="text"/></span>
             <span style="display:none;"> <input type="text"/></span>
             <span style="display:none;"> <input type="text"/></span>
          </td>
        </tr>
      </table>
    <button type="button" value="保存" style="background:url(/static/img/closebtn.png);"   id="caiwu_save">保存</button>
    <a href="javascript:window.opener=null;window.open('','_self');window.close();"><input type="button" name="close" value="关闭" style="background:url(/static/img/closebtn.png);" /></a></form>
</div>
<script src="/static/js/jquery-1.8.0.min.js"></script>
<script type="text/javascript">

      var cus_val;
      $('#getselect02').change(function(){              
          var ind=$('option:selected', '#getselect02').index();
          $('#getcheck01 option').eq(ind).attr('selected','selected'); 
          $('#getselect span').eq(ind-1).css('display','block');
          $('#getselect span').eq(ind-1).siblings().css('display','none');


	   });


    function getUrlParam(name) {
      var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); 
      var r = window.location.search.substr(1).match(reg); 
      if (r != null) return unescape(r[2]); return null; 
    }


    $("#caiwu_save").click(function() {

      var ind=$('option:selected', '#getselect02').index();
      var cus_val;
      cus_val=$('#getselect span').eq(ind-1).children().val();

        var db_key = $("#getselect02 option:selected").attr("value");
        var db_id= getUrlParam('client_id') ;
        console.log(db_key,db_id,cus_val) ;
    	if (cus_val == "") {
      	    alert("请填写要修改的数据");
    	} else {
    	    $.post("/wenyuan/modify/", {
        	db_key: db_key, 
        	db_id: db_id,
        	cus_val: cus_val
    	},
    	    function(data) {
        	alert(data);

    	})
    	}
    });

    $('#getselect02').change(function(){
      var db_id = getUrlParam('client_id');
      var db_key = $("#getselect02 option:selected").attr("value");

      if (!db_key) {
            alert("请填写要修改的数据");
      } else {
          $.post("/api/get/customer/data/", {
            db_key: db_key,
            db_id: db_id,
          },
          function(data) {
     $('#getselect input').val(data);
          console.log(data);
        })
      }

 })
</script>
