<div id="customerinfo">
   <div class="cusinfoleft">
     <span class="rightline">删除</span>
     <span onclick=openwin()>增加</span>
   </div>
   <div class="cusinforight">
     <span class="rightline">页面设置</span>
     <span class="rightline">导出Excel</span>
     <span>导出Word</span>
   </div>
</div>
<div id="customerframe">
   <h1>客户资料</h1>
   <div class="cusform">
      <table align="center" cellspacing="0" cellpadding="0">
         <tr>
            <td>客户姓名</td>
            <td><input type="text"></td>
            <td>客户电话</td>
            <td><input type="text"></td>
            <td>电话来源</td>
            <td>
                <select>
                    <option selected value="请选择">请选择</option>
                    <option value="进线01">进线01</option>
                    <option value="进线02">进线02</option>
                    <option value="套电01">套电01</option>
                    <option value="套电02">套电02</option>
                </select>
            </td>
            <td>电话所属区域</td>
            <td>
               <select>
                    <option selected value="请选择">请选择</option>
                    <option value="唐山">唐山</option>
                    <option value="秦皇岛">秦皇岛</option>
                    <option value="葫芦岛">葫芦岛</option>
                    <option value="廊坊">廊坊</option>
                </select>
            </td>
            <td style="background:transparent;"><button type="button" value="查询">查询</button></td>
         </tr>
      </table>
   </div>

<table id="tab_form" align="center">
<tr >
   <td style="background:#00144c;"></td>
   <td style="background:#00144c;">客户姓名</td>
   <td style="background:#00144c;">客户电话</td>
   <td style="background:#00144c;">是否有效</td>
   <td style="background:#00144c;">发给销售人员</td>
   <td style="background:#00144c;">电话属区域</td>
</tr>
{%for i in all_clerk%}
<tr class="cus_tab">
<td><input type="checkbox"></td>
<td>  {{i.client_name}} </td>
<td>	{{i.client_tel}}	</td>
<td>  {{i.is_valid}}   </td>
<td>	{{i.is_send}}	</td>
<td>  {{i.tl_area}}   </td>
</tr>
{%end%}
</table>
</div>

<style>
  #tab_form{}
  #tab_form .cus_tab td:nth-child(odd){background:#fefefe;}
  #tab_form .cus_tab td:nth-child(even){background:#f00;}
  #tab_form tr td{width:100px;}
</style>
