<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>left</title>
<script type="text/javascript" src="js/jquery-1.8.0.min.js"></script>
</head>
<style>
body{text-align:center;}
a{display:block;text-decoration:none;font-size:30px;margin:20px;color:#fff;}
</style>
<body>
<a href="employee_a.html" target="showiframe">员工表单</a>
<a href="customer_a.html" target="showiframe">员工日志</a>
<a href="employee_c.html" target="showiframe">员工报表</a>
</body>
</html>
<script type="text/javascript">
    $ (function (){
        $ ('a').click (function ()
        {
			$ (this).css ('color', '#00144c').siblings ('a').css ('color', '#fff');
        });
    });
</script>