
<div id="financeinfo">
   <div class="cusinfoleft">
     <span class="rightline" onclick=d_finance_data()>删除</span>
     <span class="rightline" onclick=openfin()>增加</span>
     <span onclick=openfinalter()>修改</span>
   </div>
   <div class="cusinforight">
     <span class="rightline" onclick=export_excel()>导出Excel</span>
     <span>导入Excel</span>
   </div>
</div>
<div id="financeframe">
   <h1>财务资料</h1>
   <div class="cusform">
     <table align="center" cellspacing="0" cellpadding="0" id="table">
         <tr>
            <td>排卡日期</td>
            <td><input type="text" id='f_card_date'></td>
            <td>认购日期</td>
            <td><input type="text" id='f_sub_date'></td>
            <td>客户姓名</td>
            <td><input type="text" id='f_cus_name'></td>
            <td>项目名称</td>
            <td><input type="text" id='f_pro_name'></td>
            <td style="background:transparent;"><button type="button" value="查询" id='f_button'>查询</button></td>
         </tr>
      </table>
   </div>

<table id="tab_ff_form" align="center">
<thead>
<tr>
   <td style="background:#00144c;"></td>
   <td style="background:#00144c;">排卡日期</td>
   <td style="background:#00144c;">认购日期</td>
   <td style="background:#00144c;">客户姓名</td>
   <td style="background:#00144c;">项目名称</td>
</tr>
</thead>
<tbody style="background:#00144c;">
{%for i in shuju%}
<tr class="cus_tab" id="get_f_id">
<td>
<input type="checkbox" data-id="{{i.id}}" >
</td>
<td>  {{i.card_date}} </td>
<td>  {{i.sub_date}} </td>
<td>  {{i.cus_name}} </td>
<td>  {{i.pro_name}} </td>
</tr>
{%end%}
</tbody>
</table>
<ul class="fy" id="number">
    {% raw yem %}
</ul>


</div>

<style>
   #number{list-style-type:none;float:right;margin-right:10%;}
   #number li{float:left;margin-left:10px;border:1px #000 solid;width:50px;height:25px;line-height: 25px;}
   #number li a{text-decoration: none;}
</style>

<script>
$("#f_button").click(function(){
  var f_card_date=$("#f_card_date").val();
  var f_sub_date=$("#f_sub_date").val();
  var f_cus_name =$('#f_cus_name').val();
  var f_pro_name =$('#f_pro_name').val();

  var data= {};
  data.f_card_date = f_card_date;
  data.f_sub_date = f_sub_date;
  data.f_cus_name = f_cus_name;
  data.f_pro_name = f_pro_name;
  if (f_card_date || f_sub_date || f_cus_name || f_pro_name){
        $.get("/financeleft/", data,
        function(data) {

           location.href = '/financeleft/?' + '&f_card_date=' + f_card_date + '&f_sub_date=' + f_sub_date +'&f_cus_name=' + f_cus_name +'&f_pro_name=' + f_pro_name ;
    
      }

        })
  }else{alert("请输入查询条件!!");}

});

</script>
