{% extends "base.html" %}
{% block body %}


   <div class="title">安居乐业管理系统</div>
   <div class="nav"> 
     <ul>
       <li><a>客户管理</a></li>
       <li><a>员工门户</a></li>
       <li><a>销售管理</a></li>
       <li><a>系统管理</a></li>
     </ul>
   </div>
   <div class="frameset">
      <div>{% include customerleft.html%}</div>
       <div style="display:none;">{% include employeeleft.html%}</div>
       <div style="display:none;">{% include saleleft.html%}</div>
       <div style="display:none;">{% include systemleft.html%}</div> 
    </div>
{% end %}
