
<div id="saleform">
  <img src="/static/img/sale01.png">
  <form>
    <table id="table"  cellpadding="0" cellspacing="0">
       <tr>
          <td class="a">日期</td>
          <td><input type="date" style="width:310px;height:30px;" value=new Date()/></td>         
          <td class="a">个人</td>
          <td><input type="text" style="width:310px;height:30px;"/></td>         
       </tr>
       <tr>
          <td class="a">区域</td>
          <td colspan="3"><input type="checkbox"/>全部<input type="checkbox"/>唐山<input type="checkbox"/>秦皇岛<input type="checkbox"/>葫芦岛<input type="checkbox"/>廊坊
          <input type="checkbox"/>霸州<input type="checkbox"/>固安<br><input type="checkbox"/>保定<input type="checkbox"/>威海<input type="checkbox"/>烟台
          <input type="checkbox"/>南京<input type="checkbox"/>上海<input type="checkbox"/>湖州<input type="checkbox"/>无锡</td>                
       </tr>
       <tr>
          <td class="a">团队</td>
          <td colspan="3"><input type="checkbox"/>全部<input type="checkbox"/>团1<input type="checkbox"/>团2<input type="checkbox"/>团3<input type="checkbox"/>团4
          <input type="checkbox"/>团5<input type="checkbox"/>团6<input type="checkbox"/>团7<input type="checkbox"/>团8<input type="checkbox"/>团9
          <input type="checkbox"/>团10</td>                 
       </tr>
       <tr>
          <td class="a">组</td>
          <td colspan="3"><input type="checkbox"/>全部<input type="checkbox"/>组1<input type="checkbox"/>组2<input type="checkbox"/>组3<input type="checkbox"/>组4
          <input type="checkbox"/>组5<input type="checkbox"/>组6<input type="checkbox"/>组7<input type="checkbox"/>组8<input type="checkbox"/>组9
          <input type="checkbox"/>组10</td>                
       </tr>
    </table>
    <button type="button" value="查询" style="background:url(/static/img/closebtn.png);">查询</button>
    </form>
    <hr />
    <table>
      <tr>
        <td style="background:#e5e5e5;">区域-团队-组</td>
        <td>消费</td>
        <td>量</td>
        <td>套电成本</td>
        <td>销售认识</td>
        <td>到访</td>
        <td>认购</td>
        <td>到访率<br>(到访/量)</td>
        <td>认购率<br>(认购/量)</td>
        <td>认购率<br>(认购/认购)</td>
        <td>到访排名</td>
      </tr>
    </table>
</div>

