<style>
 #saleform01 {width:800px;height:500px;text-align:center;position:relative;left:50%;margin-left:-400px;}
 #saleform01 form{width:800px;height:350px;background:#e2ecf5;}
 #saleform01 table{text-align:center;width:750px;height:30px;margin:25px;}
 #saleform01 .tableone{text-align:center;width:375px;height:30px;margin:25px;}
 #saleform01 table tr td{border:#a0a0a0 solid 1px;height:30px;background:#fff;border-spacing: 10px;}
 #saleform01 table tr td{width:200px;}
 #saleform01 table input[type="text"],#saleform01 table select{width:200px;height:30px;}
 #saleform01 button,#saleform01 input[type="button"]{width:60px;height:30px;color:#fff;font-size:16px}
</style>
<div id="saleform01">
  <img src="/static/img/sale.png">
  <form>
    <table id="talbe" width="600">
      <table cellpadding="0" cellspacing="0" class="table01">
        <tr>
          <td style="width:150px;">
            <select id='sale_select'>
               <option>请选择</option>
               <option value='re_area'>区域</option>
               <option value='re_team'>团队</option>
               <option value='re_group'>组</option>
               <option value='re_peop'>人</option>
            </select>
          </td>
          <td><input type="text" id='sale_input'/></td>
        </tr>
      </table>
    <button type="button" value="保存" style="background:url(/static/img/closebtn.png);"   id="sale_save">保存</button>
    <a href="javascript:window.opener=null;window.open('','_self');window.close();"><input type="button" name="close" value="关闭" style="background:url(/static/img/closebtn.png);" /></a></form>
</div>


<script src="/static/js/jquery-1.8.0.min.js"></script>
<script type="text/javascript">

    function getUrlParam(name) {
      var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); 
      var r = window.location.search.substr(1).match(reg); 
      if (r != null) return unescape(r[2]); return null; 
    }

 $("#sale_save").click(function() {
      var sale_val=$('#sale_input').val();
      var db_id = getUrlParam('s_id');
      var db_key = $("#sale_select option:selected").attr("value");
      console.log(db_key,db_id,sale_val) ;
      if (sale_val == "") {
            alert("请填写要修改的数据");
      } else {
          $.post("/sale/modify/", {
            db_key: db_key,
            db_id: db_id,
            sale_val: sale_val
          },
          function(data) {
          alert(data);
        })
      }
 })
 

$('#sale_select').change(function(){
      var db_id = getUrlParam('s_id');
      var db_key = $("#sale_select option:selected").attr("value");

      if (!db_key) {
            alert("请填写要修改的数据");
      } else {
          $.post("/api/get/sale/data/", {
            db_key: db_key,
            db_id: db_id,
          },
          function(data) {
	   $('#sale_input').val(data);
          console.log(data);
        })
      }

 })
</script>
