<div id="saleform">
  <img src="/static/img/sale01.png">
  <form>
    <table id="table"  cellpadding="0" cellspacing="0">
       <tr>
          <td class="a">日期</td>
          <td><input type="date" style="width:310px;height:30px;" value='new Date()' id='sale_date'/></td>         
          <td class="a">个人</td>
          <td><input type="text" style="width:310px;height:30px;"  id='sale_peop'/></td>         
       </tr>
       <tr>
          <td class="a">区域</td>
          <td colspan="3" id='sale_area'>
              <input type="checkbox"/>全部
              {%for i in team_area()%}
                <input type="checkbox" value="{{i}}"/>{{i}}
              {%end%}
          </td>                
       </tr>
       <tr>
          <td class="a">团队</td>
          <td colspan="3" id='sale_team'>
              <input type="checkbox" value='全部'/>全部
              {%for i in team%}
                <input type="checkbox" value="{{i}}"/>{{i}}
              {%end%}
          </td>                 
       </tr>
       <tr>
          <td class="a">组</td>
          <td colspan="3" id='sale_group'>
              <input type="checkbox" value='全部'/>全部
              {%for i in group%}
                <input type="checkbox" value="{{i}}"/>{{i}}
              {%end%}
          </td>                
       </tr>
    </table>
    <button type="button" value="查询" style="background:url(/static/img/closebtn.png);" id='sale_query'>查询</button>
    </form>
    <hr />
    <table id='example'>
      <thead>
      <tr>
        <td style="background:#e5e5e5;">区域</td>
        <td style="background:#e5e5e5;">团队</td>
        <td style="background:#e5e5e5;">组</td>
        <td>消费</td>
        <td>量</td>
        <td>套电成本</td>
        <td>销售人数</td>
        <td>到访</td>
        <td>认购</td>
        <td>到访率<br>(到访/量)</td>
        <td>认购率<br>(认购/量)</td>
      </tr></thead>
      <tbody>
      </tbody>

    </table>
</div>

<!-- 销售情况查询——表格插件datatables -->
<link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.15/css/jquery.dataTables.css">

<script class="jsbin" src="http://cdn.datatables.net/1.10.15/js/jquery.dataTables.js"></script>


<!-- 销售情况查询——表格插件datatables -->

<!-- 销售情况查询 -->

<script>
$("#sale_query").click(function(){
  //转化固定时间为Unix时间
  var str = $('#sale_date').val();
  var uftime = Date.parse(str)/1000;

  var sale_date = uftime;
  var sale_peop = $('#sale_peop').val();
  var sale_area =[]; 
    $('#sale_area input:checked').each(function(){    
     sale_area.push($(this).val());    
    }); 
  var sale_team =[]; 
    $('#sale_team input:checked').each(function(){    
     sale_team.push($(this).val());    
    }); 
  var sale_group =[]; 
    $('#sale_group input:checked').each(function(){    
     sale_group.push($(this).val());    
    }); 

  console.log(sale_date,sale_peop,sale_area,sale_team,sale_group);

  var sdata= {};
  sdata.sale_date = sale_date;
  sdata.sale_peop = sale_peop;
  sdata.sale_area = sale_area;
  sdata.sale_team = sale_team;
  sdata.sale_group = sale_group ;

  if (sale_date=='' && sale_peop=='' && sale_area=='' && sale_team=='' && sale_group==''){
    alert("查询条件为空!!请选择查询条件!!");
  }else if(str==''){
    alert("日期为必选!!请重新选择查询条件!!");
  }else{
    $.post("/api/sale/query/", JSON.stringify(sdata),
      function(datas) {
        console.log(datas);
        if(datas['status']=='ok'){
        var demo=datas['data'];      

        $('#example').dataTable( {
           data:demo,
           "search": {
            //开启正则支持
            "regex": true
          }         
    } );           	
      }else{
        alert('当前日期没有竞价数据！！！');
      }
    }
    )
  }

})
</script>
