<div style='width:100%;height:100px;text-align:center;margin-top:30px;'>
   <img src='/static/img/system_power.png'>
</div>
<div id='system_power'>
  <!-- 用户 -->
    <div id='user_name'>
      <p style='font-size:22px;font-weight:bold;color:#3888d1;margin-left:-40px;'>用户选择</p>
      <select multiple="multiple" size="10" id='add_role_user01'>
	     {%for u in alluser%}
          <option>{{u.user}}</option>
	     {%end%}
      </select>
      <select multiple="multiple" size="10" id='add_role_user'></select>
      <button id='username_keep' style='background:url(/static/img/savebtn.png);width:100px;height:40px;color:#fff;font-size:16px;position:relative;right:45%;top:20px;'>用户保存</button>
    </div>
   <!-- 角色 -->
    <div  id='role_name'>
      <p style='font-size:22px;font-weight:bold;color:#3888d1;margin-bottom:100px;'>角色选择</p>
      <select class='system_power_se02' id="select_role">
	      {%for r in allrole%}
          <option>{{r.role}}</option>
	      {%end%}
      </select>
    </div>

   <!-- URL -->
    <div id='url_name'>
        <p style='font-size:22px;font-weight:bold;color:#3888d1;margin-left:-40px;'>URL选择</p>
        <select multiple="multiple" size="10" id="url_list01"></select>
        <select multiple="multiple" size="10" id="url_list">
        	{%for l in allurl%}
           <option>{{l.url}}</option>
        	{%end%}
        </select>
       <button id='URL_keep' style='background:url(/static/img/savebtn.png);width:100px;height:40px;color:#fff;font-size:16px;position:relative;right:45%;top:20px;'>URL保存</button>
    </div>
</div>
<style>
   #system_power{width:80%;height:500px;background:#e2ecf5;text-align:center;position:relative;left:10%;}
   #system_power select{margin:30px 10px;}
   #system_power select option{font-size:16px;margin:10px;}
   #system_power #user_name,#system_power #url_name{width:38%;height:350px;}
   #system_power #user_name{float:left;}
   #system_power #role_name{float:left;width:20%;height:350px;}
   #system_power #role_name select{width:200px;height:30px;}
   #system_power #url_name{float:right;}
   #add_role_user,#url_list01{width:136px;height:203px;}
</style>

<script>
$("#url_list option").dblclick(function() {
    var role_name = $("#select_role option:selected").val();
    var msg = '确定要新增URL到角色组' + role_name + '吗?'
    if (confirm(msg) == true) {
        $('#url_list01').append("<option value='Value'>" + $(this).val() + "</option>");
    }
});

$('#url_list01').dblclick(function() {
    var role_name = $("#select_role option:selected").val();
    var msg = '是否删除URL？？'
    if (confirm(msg) == true) {
        var url = $("#url_list01  option:selected").html();
        $.post("/delete/role/url/", {
            role_name: role_name,
            url: url
        },
        function(data) {
            alert(data);

        });

    }
});

$("#add_role_user01 option").dblclick(function() {
    var role_name = $("#select_role option:selected").val();
    var msg = '确定要新增用户到组' + role_name + '吗?'
    if (confirm(msg) == true) {
        $('#add_role_user').append("<option value='Value'>" + $(this).val() + "</option>");
    }
});

$('#add_role_user').dblclick(function() {
    var role_name = $("#select_role option:selected").val();
    var msg = '是否删除用户？？'
    if (confirm(msg) == true) {
        var user = $("#add_role_user  option:selected").html();
        $.post("/delete/role/user/", {
            role_name: role_name,
            user: user 
        },
        function(data) {
            alert(data);

        });

    }


});

$("#select_role").change(function() {
    $("#add_role_user").empty();
    $("#url_list01").empty();
    var role = $("#select_role option:selected").val();
    if (!role) {
        alert("请选择角色!!!");
    } else {
        $.post("/role/get_user/", {
            role: role
        },
        function(data) {
            var ss = data['msg'];
            if ((ss.length) != 0) {
                $.each(ss,
                function(index, val) {
                    $("#add_role_user").append('<option>' + val + '</option>');
                });

            } else {
                alert('没有用户');
            }


            var dd = data['msg_role'];
            if ((dd.length) != 0) {
                $.each(dd,
                function(index, val) {
                    $("#url_list01").append('<option>' + val + '</option>');
                });

            } else {
                alert('没有url');
            }
        })
    }

});

$('#username_keep').click(function() {

    var role = $("#select_role option:selected").html();
     var array = new Array();  
     $("#add_role_user option").each(function(){  
          var txt = $(this).html();   
          if(txt!=''){  
               array.push(txt);  
          }  
     })  

     if(array.length != 0){
        $.post("/add/role/user/", {
            role_name: role,
            user: String(array) 
        },
        function(data) {
            alert(data);

        });


     };

});

$('#URL_keep').click(function() {

    var role = $("#select_role option:selected").html();
     var array = new Array();  
     $("#url_list01 option").each(function(){  
          var txt = $(this).html();   
          if(txt!=''){  
               array.push(txt);  
          }  
     })  

     if(array.length != 0){
        $.post("/add/role/url/", {
            role_name: role,
            url: String(array) 
        },
        function(data) {
            alert(data);

        });


     };


});

</script>
