<div style='width:100%;height:100px;text-align:center;margin-top:30px;'>
   <img src='/static/img/system_power.png'>
</div>
<div id='system_power'>
   <select multiple="multiple" size="10">
      <option>全部用户--></option>
      <option>zhongyi.chen</option>
      <option>fukai.liu</option>
      <option>wenyuan</option>
      <option>caiwu</option>
      <option>bidding</option>
      <option>sale</option>
      <option>system</option>
   </select>
   <select multiple="multiple" size="10">
      <option>用户--></option>
      <option>zhongyi.chen</option>
      <option>fukai.liu</option>
      <option>wenyuan</option>
      <option>caiwu</option>
      <option>bidding</option>
      <option>sale</option>
      <option>system</option>
   </select>
   <select class='system_power_se02'>
      <option>角色</option>
      <option>管理员</option>
      <option>主管</option>
      <option>文员</option>
      <option>财务</option>
      <option>竞价</option>
      <option>销售</option>
      <option>系统管理员</option>
   </select>
   <select multiple="multiple" size="10">
      <option><--URL</option>
      <option>/iframe/</option>
      <option>/customerleft/</option>
      <option>/financeleft/</option>
      <option>/biddingleft/</option>
      <option>/saleleft/</option>
      <option>/systemleft/</option>
   </select>
   <select multiple="multiple" size="10">
      <option><--全部URL</option>
      <option>/iframe/</option>
      <option>/customerleft/</option>
      <option>/financeleft/</option>
      <option>/biddingleft/</option>
      <option>/saleleft/</option>
      <option>/systemleft/</option>
   </select>
</div>
<style>
   #system_power{width:80%;height:500px;background:#e2ecf5;text-align:center;position:relative;left:10%;}
   #system_power select{margin:30px 10px;}
   #system_power select option{font-size:16px;margin:10px;}
   #system_power .system_power_se02{width:150px;height:30px;position:relative;top:-120px;}
</style>
