<div style='width:100%;height:100px;text-align:center;margin-top:30px;'>
   <img src='/static/img/system_power.png'>
</div>
<div id='system_power'>
   <select multiple="multiple" size="10" id='add_role_user01'>
	{%for u in alluser%}
      <option>{{u.user}}</option>
	{%end%}
   </select>
   <select multiple="multiple" size="10" id='add_role_user'>
      <option>用户--></option>
   </select>
   <select class='system_power_se02' id="select_role">
	{%for r in allrole%}
      <option>{{r.role}}</option>
	{%end%}
   </select>
   <select multiple="multiple" size="10" id="url_list01">
      <option><--URL</option>
   </select>
   <select multiple="multiple" size="10" id="url_list">
	{%for l in allurl%}
      <option>{{l.url}}</option>
	{%end%}
   </select>
   <button id='username_keep' style='background:url(/static/img/closebtn.png);width:100px;height:40px;color:#fff;font-size:16px;position:relative;left:-100px;top:20px;'>用户保存</button>
   <button id='URL_keep' style='background:url(/static/img/closebtn.png);width:100px;height:40px;color:#fff;font-size:16px;position:relative;left:0;top:20px;'>URL保存</button>
</div>
<style>
   #system_power{width:80%;height:500px;background:#e2ecf5;text-align:center;position:relative;left:10%;}
   #system_power select{margin:30px 10px;}
   #system_power select option{font-size:16px;margin:10px;}
   #system_power .system_power_se02{width:150px;height:30px;position:relative;top:-120px;}
</style>




<script>


$("#url_list option").dblclick(function() {
    var role_name = $("#select_role option:selected").val();
    var msg = '确定要新增URL到角色组' + role_name + '吗?'
    if (confirm(msg) == true) {
        $('#url_list01').append("<option value='Value'>" + $(this).val() + "</option>");
    }
});

$('#url_list01').dblclick(function() {
    var role_name = $("#select_role option:selected").val();
    var msg = '是否删除URL？？'
    if (confirm(msg) == true) {
        var url = $("#url_list01  option:selected").html();
        $.post("/delete/role/url", {
            role_name: role_name,
            url: url
        },
        function(data) {
            alert(data);

        });

    }
});

$("#add_role_user01 option").dblclick(function() {
    var role_name = $("#select_role option:selected").val();
    var msg = '确定要新增用户到组' + role_name + '吗?'
    if (confirm(msg) == true) {
        $('#add_role_user').append("<option value='Value'>" + $(this).val() + "</option>");
    }
});

$('#add_role_user').dblclick(function() {
    alert(this);
});

$("#select_role").change(function() {
    $("#add_role_user").empty();
    var role = $("#select_role option:selected").val();
    if (!role) {
        alert("请填写要修改的数据");
    } else {
        $.post("/role/get_user/", {
            role: role
        },
        function(data) {
            var ss = data['msg'];
            if ((ss.length) != 0) {
                $.each(ss,
                function(index, val) {
                    $("#add_role_user").append('<option>' + val + '</option>');
                });

            } else {
                alert('没有用户');
            }

        })
    }

});



</script>
